/* FONTS & SIZES */
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
/* COLORS : Palete */
/* COLORS: Status */
/* COLORS: Grays */
/* SIZING & SPACING */
/* BORDERS */
/* FONT WEIGHTS */
/* VELOCITIES */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, ../../src/styles/pg-partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../../src/styles/pg-partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../../src/styles/pg-partials/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../../src/styles/pg-partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../../src/styles/pg-partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../../src/styles/pg-partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../../src/styles/pg-partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LAYOUT */
/* line 7, ../../src/styles/pg-partials/_layout.scss */
.pg-section-header,
.pg-row.pg-section-header {
  border-bottom: 1px solid #c1c1c6;
  padding-bottom: 10px;
  margin-bottom: 40px;
  vertical-align: middle;
  align-items: center;
}

/* COLUMNIZATION */
/* based in specs from : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Advanced_layouts_with_flexbox */
/* line 5, ../../src/styles/pg-partials/_columnization.scss */
.pg-row {
  position: relative;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -moz-flex !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  /* responsive : vertical */
  -moz-box-orient: horizontal;
  /* responsive : vertical */
  -webkit-flex-direction: row;
  /* responsive : column */
  -ms-flex-direction: row;
  /* responsive : column */
  flex-direction: row;
  /* responsive : column */
}

/* line 42, ../../src/styles/pg-partials/_columnization.scss */
.pg-row::after {
  clear: both;
  content: "";
  display: block;
}

/* line 49, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col]:first-child {
  margin-left: 0px;
}

/* line 50, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col] {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 51, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col]:last-child {
  margin-right: 0px;
}

/* line 53, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-big-gap > [class^=pg-col]:first-child {
  margin-left: 0px;
}

/* line 54, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pw-big-gap > [class^=pg-col] {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 55, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-big-gap > [class^=pg-col]:last-child {
  margin-right: 0px;
}

/* line 57, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-small-gap > [class^=pg-col]:first-child {
  margin-left: 0px;
}

/* line 58, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-small-gap > [class^=pg-col] {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 59, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-small-gap > [class^=pg-col]:last-child {
  margin-right: 0px;
}

/* line 61, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-no-gap > [class^=pg-col]:first-child {
  margin-left: 0px;
}

/* line 62, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-no-gap > [class^=pg-col] {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 63, ../../src/styles/pg-partials/_columnization.scss */
.pg-row.pg-no-gap > [class^=pg-col]:last-child {
  margin-right: 0px;
}

/* line 65, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col].pg-no-gap {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 67, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col] {
  position: relative;
  display: block;
  transition: width .5s ease-in-out;
}

/* line 74, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col]::after {
  clear: both;
  content: "";
  display: block;
}

/* line 80, ../../src/styles/pg-partials/_columnization.scss */
.pg-row > [class^=pg-col]:empty::before {
  content: "\200B";
  display: block;
}

/* line 86, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-collapsed {
  width: 0px !important;
  opacity: 0;
}
/* line 87, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-5 {
  width: 5%;
}
/* line 88, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-10 {
  width: 10%;
}
/* line 89, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-15 {
  width: 15%;
}
/* line 90, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-20 {
  width: 20%;
}
/* line 91, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-25 {
  width: 25%;
}
/* line 92, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-30 {
  width: 30%;
}
/* line 93, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-33 {
  width: 33%;
}
/* line 94, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-35 {
  width: 35%;
}
/* line 95, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-40 {
  width: 40%;
}
/* line 96, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-45 {
  width: 45%;
}
/* line 97, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-50 {
  width: 50%;
}
/* line 98, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-55 {
  width: 55%;
}
/* line 99, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-60 {
  width: 60%;
}
/* line 100, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-65 {
  width: 65%;
}
/* line 101, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-70 {
  width: 70%;
}
/* line 102, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-75 {
  width: 75%;
}
/* line 103, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-80 {
  width: 80%;
}
/* line 104, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-85 {
  width: 85%;
}
/* line 105, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-90 {
  width: 90%;
}
/* line 106, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-95 {
  width: 95%;
}
/* line 107, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-100 {
  width: 100%;
}
/* line 109, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col {
  flex-grow: 1;
}
/* line 110, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x1 {
  flex-grow: 1;
}
/* line 111, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x2 {
  flex-grow: 2;
}
/* line 112, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x3 {
  flex-grow: 3;
}
/* line 113, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x4 {
  flex-grow: 4;
}
/* line 114, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x5 {
  flex-grow: 5;
}
/* line 115, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x6 {
  flex-grow: 6;
}
/* line 116, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x7 {
  flex-grow: 7;
}
/* line 117, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-x8 {
  flex-grow: 8;
}
/* line 118, ../../src/styles/pg-partials/_columnization.scss */
.pg-row .pg-col-fixed {
  flex-grow: 0;
}

/* BUTTON */
/* BUTTON */
/* line 4, ../../src/styles/pg-partials/_button.scss */
.pg-btn, button {
  padding: 10px 10px;
  background-color: #6d6d7f;
  color: #eeeeee;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  clear: both;
}
/* line 14, ../../src/styles/pg-partials/_button.scss */
.pg-btn:hover, button:hover {
  background-color: #ff4500;
  color: #eeeeee;
}

/* line 20, ../../src/styles/pg-partials/_button.scss */
.pg-btn > .fa, button > .fa {
  float: right;
  margin-left: 10px;
  margin-top: -1px;
}

/* PAGINATION */
/* line 2, ../../src/styles/pg-partials/_pagination.scss */
.pg-pagination {
  width: 100%;
  text-align: right;
  margin-top: 40px;
  border-top: 1px solid #c1c1c6;
  padding-top: 10px;
}
/* line 9, ../../src/styles/pg-partials/_pagination.scss */
.pg-pagination .pg-pagination-item {
  display: inline-block;
  color: #9595a0;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid #afafbd;
  min-width: 25px;
  text-align: center;
  margin: 2px;
}
/* line 19, ../../src/styles/pg-partials/_pagination.scss */
.pg-pagination .pg-pagination-item:hover {
  border-color: #ff4500;
  background: #ff4500;
  color: white;
}
/* line 26, ../../src/styles/pg-partials/_pagination.scss */
.pg-pagination .pg-pagination-current {
  background-color: #afafbd;
  color: white;
  cursor: default;
  pointer-events: none;
}

/* POSITION */
/* line 2, ../../src/styles/pg-partials/_position.scss */
.pg-vertical-center {
  vertical-align: middle;
  align-items: center;
  display: flex !important;
}

/* line 8, ../../src/styles/pg-partials/_position.scss */
.pg-float-left {
  float: left;
}

/* line 9, ../../src/styles/pg-partials/_position.scss */
.pg-float-right {
  float: right;
}

/* line 10, ../../src/styles/pg-partials/_position.scss */
.pg-float-right, .pg-float-left {
  content: "";
  display: block;
  clear: both;
  position: relative;
}

/* line 16, ../../src/styles/pg-partials/_position.scss */
.pg-float-none {
  float: none;
}

/* line 17, ../../src/styles/pg-partials/_position.scss */
.pg-float-clear {
  clear: both;
}

/* MARGINS */
/* line 2, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-biggest {
  margin: 40px;
}

/* line 3, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bigger {
  margin: 25px;
}

/* line 4, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-big {
  margin: 20px;
}

/* line 5, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin {
  margin: 15px;
}

/* line 6, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-small {
  margin: 10px;
}

/* line 7, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-smaller {
  margin: 5px;
}

/* line 8, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-smallest {
  margin: 2px;
}

/* line 10, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-biggest {
  margin-bottom: 40px;
}

/* line 11, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-bigger {
  margin-bottom: 25px;
}

/* line 12, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-big {
  margin-bottom: 20px;
}

/* line 13, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom {
  margin-bottom: 15px;
}

/* line 14, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-small {
  margin-bottom: 10px;
}

/* line 15, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-smaller {
  margin-bottom: 5px;
}

/* line 16, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-bottom-smallest {
  margin-bottom: 2px;
}

/* line 18, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-biggest {
  margin-top: 40px;
}

/* line 19, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-bigger {
  margin-top: 25px;
}

/* line 20, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-big {
  margin-top: 20px;
}

/* line 21, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top {
  margin-top: 15px;
}

/* line 22, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-small {
  margin-top: 10px;
}

/* line 23, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-smaller {
  margin-top: 5px;
}

/* line 24, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-top-smallest {
  margin-top: 2px;
}

/* line 26, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-biggest {
  margin-left: 40px;
}

/* line 27, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-bigger {
  margin-left: 25px;
}

/* line 28, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-big {
  margin-left: 20px;
}

/* line 29, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left {
  margin-left: 15px;
}

/* line 30, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-small {
  margin-left: 10px;
}

/* line 31, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-smaller {
  margin-left: 5px;
}

/* line 32, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-left-smallest {
  margin-left: 2px;
}

/* line 34, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-biggest {
  margin-right: 40px;
}

/* line 35, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-bigger {
  margin-right: 25px;
}

/* line 36, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-big {
  margin-right: 20px;
}

/* line 37, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right {
  margin-right: 15px;
}

/* line 38, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-small {
  margin-right: 10px;
}

/* line 39, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-smaller {
  margin-right: 5px;
}

/* line 40, ../../src/styles/pg-partials/_spacing.scss */
.pg-margin-right-smallest {
  margin-right: 2px;
}

/* PADDINGS */
/* line 44, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-biggest {
  padding: 40px;
}

/* line 45, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bigger {
  padding: 25px;
}

/* line 46, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-big {
  padding: 20px;
}

/* line 47, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding {
  padding: 15px;
}

/* line 48, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-small {
  padding: 10px;
}

/* line 49, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-smaller {
  padding: 5px;
}

/* line 50, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-smallest {
  padding: 2px;
}

/* line 52, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-biggest {
  padding-bottom: 40px;
}

/* line 53, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-bigger {
  padding-bottom: 25px;
}

/* line 54, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-big {
  padding-bottom: 20px;
}

/* line 55, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom {
  padding-bottom: 15px;
}

/* line 56, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-small {
  padding-bottom: 10px;
}

/* line 57, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-smaller {
  padding-bottom: 5px;
}

/* line 58, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-bottom-smallest {
  padding-bottom: 2px;
}

/* line 60, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-biggest {
  padding-top: 40px;
}

/* line 61, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-bigger {
  padding-top: 25px;
}

/* line 62, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-big {
  padding-top: 20px;
}

/* line 63, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top {
  padding-top: 15px;
}

/* line 64, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-small {
  padding-top: 10px;
}

/* line 65, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-smaller {
  padding-top: 5px;
}

/* line 66, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-top-smallest {
  padding-top: 2px;
}

/* line 68, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-biggest {
  padding-left: 40px;
}

/* line 69, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-bigger {
  padding-left: 25px;
}

/* line 70, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-big {
  padding-left: 20px;
}

/* line 71, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left {
  padding-left: 15px;
}

/* line 72, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-small {
  padding-left: 10px;
}

/* line 73, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-smaller {
  padding-left: 5px;
}

/* line 74, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-left-smallest {
  padding-left: 2px;
}

/* line 76, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-biggest {
  padding-right: 40px;
}

/* line 77, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-bigger {
  padding-right: 25px;
}

/* line 78, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-big {
  padding-right: 20px;
}

/* line 79, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right {
  padding-right: 15px;
}

/* line 80, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-small {
  padding-right: 10px;
}

/* line 81, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-smaller {
  padding-right: 5px;
}

/* line 82, ../../src/styles/pg-partials/_spacing.scss */
.pg-padding-right-smallest {
  padding-right: 2px;
}

/* TEXT */
/* line 2, ../../src/styles/pg-partials/_text.scss */
.pg-text-center {
  text-align: center;
}

/* line 3, ../../src/styles/pg-partials/_text.scss */
.pg-text-left {
  text-align: left;
}

/* line 4, ../../src/styles/pg-partials/_text.scss */
.pg-text-right {
  text-align: right;
}

/* line 6, ../../src/styles/pg-partials/_text.scss */
.pg-text-biggest {
  font-size: 20px;
}

/* line 7, ../../src/styles/pg-partials/_text.scss */
.pg-text-bigger {
  font-size: 18px;
}

/* line 8, ../../src/styles/pg-partials/_text.scss */
.pg-text-big {
  font-size: 16px;
}

/* line 9, ../../src/styles/pg-partials/_text.scss */
.pg-text-regular {
  font-size: 14px;
}

/* line 10, ../../src/styles/pg-partials/_text.scss */
.pg-text-small {
  font-size: 12px;
}

/* line 11, ../../src/styles/pg-partials/_text.scss */
.pg-text-smaller {
  font-size: 10px;
}

/* line 12, ../../src/styles/pg-partials/_text.scss */
.pg-text-smallest {
  font-size: 9px;
}

/* line 14, ../../src/styles/pg-partials/_text.scss */
.pg-text-bolder {
  font-weight: 900;
}

/* line 15, ../../src/styles/pg-partials/_text.scss */
.pg-text-bold {
  font-weight: 600;
}

/* line 16, ../../src/styles/pg-partials/_text.scss */
.pg-text-regular {
  font-weight: 400;
}

/* line 17, ../../src/styles/pg-partials/_text.scss */
.pg-text-light {
  font-weight: 200;
}

/* line 18, ../../src/styles/pg-partials/_text.scss */
.pg-text-lighter {
  font-weight: 100;
}

/* FORM AND FORM CONTROLS */
/* line 5, ../../src/styles/pg-partials/_form.scss */
::-webkit-input-placeholder {
  color: #d1d1e6;
}

/* Chrome/Opera/Safari */
/* line 6, ../../src/styles/pg-partials/_form.scss */
::-moz-placeholder {
  color: #d1d1e6;
}

/* Firefox 19+ */
/* line 7, ../../src/styles/pg-partials/_form.scss */
:-ms-input-placeholder {
  color: #d1d1e6;
}

/* IE 10+ */
/* line 8, ../../src/styles/pg-partials/_form.scss */
:-moz-placeholder {
  color: #d1d1e6;
}

/* Firefox 18- */
/* line 13, ../../src/styles/pg-partials/_form.scss */
.pg-form-footer {
  border-top: 1px solid #c1c1c6;
  padding-top: 10px;
  margin-top: 20px;
  text-align: right;
  position: relative;
  clear: both;
  display: block;
}

/* line 23, ../../src/styles/pg-partials/_form.scss */
.pg-form-control {
  position: relative;
  margin-bottom: 20px;
  clear: both;
  display: block;
  padding-top: 20px;
  width: 100%;
}

/* line 32, ../../src/styles/pg-partials/_form.scss */
.pg-form-control *:focus {
  outline: none;
}

/* line 36, ../../src/styles/pg-partials/_form.scss */
.pg-form-control > input,
.pg-form-control > select {
  position: relative;
  width: 100%;
  border-radius: 15px;
  padding: 8px 13px;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  background-color: #f4f4ff;
  color: #76767d;
  height: 32px;
}

/* line 51, ../../src/styles/pg-partials/_form.scss */
.pg-form-control > span {
  display: block;
  top: 2px;
  position: absolute;
  transition: all 0.5s ease;
  font-size: 12px;
}

/* line 59, ../../src/styles/pg-partials/_form.scss */
.pg-form-control [required] + span:before {
  content: "REQUIRED";
  float: right;
  border-radius: 0px;
  color: black;
  display: block;
  position: relative;
  right: -5px;
  top: -2px;
  text-align: center;
  font-size: 8px;
  padding: 3px;
  border: 1px solid #6d6d7f;
  font-weight: 100;
  opacity: .5;
  font-family: "lucida console";
}

/* line 78, ../../src/styles/pg-partials/_form.scss */
.pg-form-control label > .pg-tag {
  display: inline-block;
  background-color: #6d6d7f;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 12px;
}
/* line 90, ../../src/styles/pg-partials/_form.scss */
.pg-form-control label > .pg-tag:hover {
  background-color: #ff4500;
}

/* line 94, ../../src/styles/pg-partials/_form.scss */
.pg-form-control label > .pg-tag.pg-checked {
  background-color: #3c3c44;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3) inset;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #bdbdbd;
}

/* line 101, ../../src/styles/pg-partials/_form.scss */
.pg-form-control label > label {
  display: inline-block;
}

/* line 105, ../../src/styles/pg-partials/_form.scss */
.pg-form-control *:invalid {
  color: #cd3347;
}

/* line 109, ../../src/styles/pg-partials/_form.scss */
.pg-form-control *:invalid + span {
  color: #cd3347 !important;
  margin-left: 15px;
}
/* line 112, ../../src/styles/pg-partials/_form.scss */
.pg-form-control *:invalid + span:after {
  content: "!";
  position: absolute;
  background: #cd3347;
  color: #ecafb7;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: block;
  top: -1px;
  left: -15px;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
  line-height: 12px;
  font-family: arial;
}

/* line 139, ../../src/styles/pg-partials/_form.scss */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent !important;
  /* Otherwise white in Chrome */
  border: none !important;
  padding: 0 !important;
  margin: 0px !important;
}

/* line 147, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* line 148, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
/* line 171, ../../src/styles/pg-partials/_form.scss */
.pg-form-control input[type=range]::-webkit-slider-thumb {
  border: none;
  border-bottom: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  background-color: #f4f4ff;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  -webkit-appearance: none;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
/* line 178, ../../src/styles/pg-partials/_form.scss */
.pg-form-control input[type=range]::-moz-range-thumb {
  border: none;
  border-bottom: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  background-color: #f4f4ff;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for IE */
/* line 181, ../../src/styles/pg-partials/_form.scss */
.pg-form-control input[type=range]::-ms-thumb {
  border: none;
  border-bottom: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  background-color: #f4f4ff;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 186, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  box-shadow: none;
  cursor: pointer;
  background: #6d6d7f;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 196, ../../src/styles/pg-partials/_form.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6d6d7f;
}

/* line 197, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  box-shadow: none;
  cursor: pointer;
  background: #6d6d7f;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 206, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* line 215, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-ms-fill-lower {
  box-shadow: none;
  background: #6d6d7f;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

/* line 221, ../../src/styles/pg-partials/_form.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #6d6d7f;
}

/* line 222, ../../src/styles/pg-partials/_form.scss */
input[type=range]::-ms-fill-upper {
  box-shadow: none;
  background: #6d6d7f;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

/* line 228, ../../src/styles/pg-partials/_form.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #6d6d7f;
}

/* RIVETS LOADER */
/* line 2, ../../src/styles/pg-partials/_loader.scss */
.pg-loader *, .pg-loading *, [pg-loader] *, [pg-loading] *, [rv-loading] * {
  transition: none !important;
  opacity: 0 !important;
}

/* line 7, ../../src/styles/pg-partials/_loader.scss */
.pg-loader, .pg-loading, [pg-loader], [pg-loading], [rv-loading] {
  visibility: hidden !important;
  position: relative !important;
  pointer-events: none !important;
  cursor: default !important;
  opacity: 1 !important;
  transition: none !important;
}
/* line 16, ../../src/styles/pg-partials/_loader.scss */
.pg-loader:before, .pg-loading:before, [pg-loader]:before, [pg-loading]:before, [rv-loading]:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  margin-left: -20px;
  top: 50%;
  left: 50%;
  z-index: 999999999;
  border-radius: 50%;
  border: 8px solid #ff4500;
  border-left-color: transparent;
  animation: pg-rotate 0.8s infinite linear;
  visibility: visible;
}
/* line 34, ../../src/styles/pg-partials/_loader.scss */
.pg-loader:after, .pg-loading:after, [pg-loader]:after, [pg-loading]:after, [rv-loading]:after {
  content: attr(pg-loading);
  display: block;
  width: 100%;
  bottom: 0px;
  top: 0px;
  position: absolute;
  visibility: visible;
  pointer-events: none;
  z-index: 999999998;
  text-align: center;
  padding-top: 50%;
  color: #ff4500;
  font-size: 12px;
  line-height: 30px;
}

@keyframes pg-rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* NOTIFICATION BOXES */
/* line 3, ../../src/styles/pg-partials/_notification.scss */
.pg-notification-error {
  text-align: center;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  background: #cd3347;
  color: #ecafb7;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 15, ../../src/styles/pg-partials/_notification.scss */
.pg-notification-error:before {
  right: 10px;
  top: -10px;
  border-width: 7px 15px;
  border-style: solid;
  width: 0px;
  content: "!";
  position: absolute;
  height: 20px;
  color: #cd3347;
  box-shadow: 0 -2px 0px #cd3347;
  border-color: #ecafb7;
  border-bottom-color: transparent;
  text-align: center;
  font-weight: 900;
  font-size: 14px;
}

/* line 33, ../../src/styles/pg-partials/_notification.scss */
.pg-notification-bubble {
  position: fixed;
  margin-top: none;
  margin-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  right: 40px;
  opacity: 0;
  width: 130px;
  z-index: 9999;
  padding-bottom: 25px;
  padding-top: 35px;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.34);
  border-bottom: 1px solid #222;
  animation: pg-bubble 3s normal ease-in-out;
}

/* line 52, ../../src/styles/pg-partials/_notification.scss */
.pg-notification-bubble:before {
  right: 52px;
}

@keyframes pg-bubble {
  0% {
    top: 80px;
    opacity: 0;
  }
  30% {
    top: 40px;
    opacity: 1;
  }
  60% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
/* line 1, ../../src/styles/pg-partials/_tooltip.scss */
[pg-tooltip] {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 6, ../../src/styles/pg-partials/_tooltip.scss */
[pg-tooltip]:after {
  opacity: 0;
  position: absolute;
  display: inline-block;
  content: attr(pg-tooltip);
  width: 0px;
  height: 0px;
  bottom: 0px;
  left: 20%;
  font-family: "Roboto", Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background: #ff4500;
  color: #ffc540;
  border-radius: 0px;
  transition: opacity 1s ease, margin-bottom 1s ease;
  box-shadow: 0px -2px 100px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  z-index: 998;
  /* prevent inheritage  */
  white-space: normal;
  padding: 0px;
  margin: 0px;
}
/* line 33, ../../src/styles/pg-partials/_tooltip.scss */
[pg-tooltip]:before {
  opacity: 0;
  position: absolute;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  bottom: -14px;
  left: 30%;
  z-index: 999;
  border: 0;
  transition: opacity 1s ease, margin-bottom 1s ease;
}
/* line 48, ../../src/styles/pg-partials/_tooltip.scss */
[pg-tooltip]:hover:after {
  margin-bottom: 20px;
  opacity: 1;
  width: auto;
  height: auto;
  padding: 10px;
  max-width: 250px;
  min-width: 100px;
}
/* line 58, ../../src/styles/pg-partials/_tooltip.scss */
[pg-tooltip]:hover:before {
  margin-bottom: 20px;
  opacity: 1;
  border-top: 14px solid #ff4500;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

/* line 17, ../../src/styles/pg-styles.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../../src/styles/pg-styles.scss */
body {
  font-family: "Roboto", Arial;
  font-size: 14px;
  color: #76767d;
  background-color: #e0e0fc;
  width: 450px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

/* line 31, ../../src/styles/pg-styles.scss */
body *[hidden], body *.pg-hidden {
  display: none;
}

/* line 34, ../../src/styles/pg-styles.scss */
h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", Arial;
  font-weight: 700;
}

/* line 39, ../../src/styles/pg-styles.scss */
h1 {
  font-size: 20px;
}

/* line 40, ../../src/styles/pg-styles.scss */
h2 {
  font-size: 18px;
}

/* line 41, ../../src/styles/pg-styles.scss */
h3 {
  font-size: 16px;
}

/* line 42, ../../src/styles/pg-styles.scss */
h4 {
  font-size: 14px;
}

/* line 43, ../../src/styles/pg-styles.scss */
h5 {
  font-size: 12px;
}

/* line 44, ../../src/styles/pg-styles.scss */
h6 {
  font-size: 10px;
}

/* line 47, ../../src/styles/pg-styles.scss */
[hidden], .pg-hidden, .pg-hide {
  display: none !important;
}

/* MOUSE INTERACTIONS */
/* line 50, ../../src/styles/pg-styles.scss */
.pg-hover {
  cursor: pointer;
}

/* line 51, ../../src/styles/pg-styles.scss */
.pg-hover:hover {
  color: #ff4500;
}

/* line 53, ../../src/styles/pg-styles.scss */
.pg-unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 60, ../../src/styles/pg-styles.scss */
.pg-selectable {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* SIZE & POSITION */
/* line 70, ../../src/styles/pg-styles.scss */
.pg-expand {
  width: 100%;
}

/* line 71, ../../src/styles/pg-styles.scss */
.pg-collapse {
  width: 0px;
  overflow: hidden;
  display: inline-block;
}

/* TABLE */
/* line 85, ../../src/styles/pg-styles.scss */
.pg-table > .pg-row {
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.5s ease;
}

/* line 90, ../../src/styles/pg-styles.scss */
.pg-table > .pg-row:nth-child(odd) {
  background-color: rgba(191, 191, 195, 0.03);
}

/* line 94, ../../src/styles/pg-styles.scss */
.pg-table > .pg-row:not(:last-child) {
  border-bottom: 1px solid #cacadc;
}

/* line 98, ../../src/styles/pg-styles.scss */
.pg-table > .pg-row:hover {
  background-color: rgba(104, 104, 109, 0.04);
}

/* line 103, ../../src/styles/pg-styles.scss */
.pg-tag {
  background-color: #555555;
  padding: 5px 10px;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

/* line 116, ../../src/styles/pg-styles.scss */
.pg-tab {
  padding: 20px;
}

/* line 121, ../../src/styles/pg-styles.scss */
.pg-row > .pg-row {
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

/* PROJECT */
/* line 130, ../../src/styles/pg-styles.scss */
.log-output > div {
  font-size: 10px;
  margin-bottom: 3px;
  color: #555561;
}

/* line 135, ../../src/styles/pg-styles.scss */
.log-output > div:nth-child(even) {
  color: darkgray;
}

/* line 139, ../../src/styles/pg-styles.scss */
#new_feed_form {
  background: #c2c2d4;
  padding: 30px;
}

/* line 144, ../../src/styles/pg-styles.scss */
#new_feed_form > div {
  margin-bottom: 10px;
}
