#OS junk files
[Tt]humbs.db
*.DS_Store

#Sublime
*.sublime-workspace

#Common
/.sass-cache
/node_modules
/npm-debug.log

pg-config\.json
app-config\.json


crop-manager/pg-models/node_modules
crop-client/node_modules

crop-manager/pg-wrapper/pg-server/node_modules/
