/* MARGINS */
.pg-margin-biggest{ margin : $s-biggest; }
.pg-margin-bigger{ margin : $s-bigger; }
.pg-margin-big{ margin : $s-big; }
.pg-margin{ margin : $s-regular; }
.pg-margin-small{ margin : $s-small; }
.pg-margin-smaller{ margin : $s-smaller; }
.pg-margin-smallest{ margin : $s-smallest; }

.pg-margin-bottom-biggest{ margin-bottom : $s-biggest; }
.pg-margin-bottom-bigger{ margin-bottom : $s-bigger; }
.pg-margin-bottom-big{ margin-bottom : $s-big; }
.pg-margin-bottom{ margin-bottom : $s-regular; }
.pg-margin-bottom-small{ margin-bottom : $s-small; }
.pg-margin-bottom-smaller{ margin-bottom : $s-smaller; }
.pg-margin-bottom-smallest{ margin-bottom : $s-smallest; }

.pg-margin-top-biggest{ margin-top : $s-biggest; }
.pg-margin-top-bigger{ margin-top : $s-bigger; }
.pg-margin-top-big{ margin-top : $s-big; }
.pg-margin-top{ margin-top : $s-regular; }
.pg-margin-top-small{ margin-top : $s-small; }
.pg-margin-top-smaller{ margin-top : $s-smaller; }
.pg-margin-top-smallest{ margin-top : $s-smallest; }

.pg-margin-left-biggest{ margin-left : $s-biggest;}
.pg-margin-left-bigger{ margin-left : $s-bigger;}
.pg-margin-left-big{ margin-left : $s-big;}
.pg-margin-left{ margin-left : $s-regular;}
.pg-margin-left-small{ margin-left : $s-small;}
.pg-margin-left-smaller{ margin-left : $s-smaller;}
.pg-margin-left-smallest{ margin-left : $s-smallest;}

.pg-margin-right-biggest{ margin-right : $s-biggest;}
.pg-margin-right-bigger{ margin-right : $s-bigger;}
.pg-margin-right-big{ margin-right : $s-big;}
.pg-margin-right{ margin-right : $s-regular;}
.pg-margin-right-small{ margin-right : $s-small;}
.pg-margin-right-smaller{ margin-right : $s-smaller;}
.pg-margin-right-smallest{ margin-right : $s-smallest;}


/* PADDINGS */
.pg-padding-biggest{ padding : $s-biggest; }
.pg-padding-bigger{ padding : $s-bigger; }
.pg-padding-big{ padding : $s-big; }
.pg-padding{ padding : $s-regular; }
.pg-padding-small{ padding : $s-small; }
.pg-padding-smaller{ padding : $s-smaller; }
.pg-padding-smallest{ padding : $s-smallest; }

.pg-padding-bottom-biggest{ padding-bottom : $s-biggest;}
.pg-padding-bottom-bigger{ padding-bottom : $s-bigger;}
.pg-padding-bottom-big{ padding-bottom : $s-big;}
.pg-padding-bottom{ padding-bottom : $s-regular;}
.pg-padding-bottom-small{ padding-bottom : $s-small;}
.pg-padding-bottom-smaller{ padding-bottom : $s-smaller;}
.pg-padding-bottom-smallest{ padding-bottom : $s-smallest;}

.pg-padding-top-biggest{ padding-top : $s-biggest;}
.pg-padding-top-bigger{ padding-top : $s-bigger;}
.pg-padding-top-big{ padding-top : $s-big;}
.pg-padding-top{ padding-top : $s-regular;}
.pg-padding-top-small{ padding-top : $s-small;}
.pg-padding-top-smaller{ padding-top : $s-smaller;}
.pg-padding-top-smallest{ padding-top : $s-smallest;}

.pg-padding-left-biggest{ padding-left : $s-biggest;}
.pg-padding-left-bigger{ padding-left: $s-bigger;}
.pg-padding-left-big{ padding-left: $s-big;}
.pg-padding-left{ padding-left: $s-regular;}
.pg-padding-left-small{ padding-left: $s-small;}
.pg-padding-left-smaller{ padding-left: $s-smaller;}
.pg-padding-left-smallest{ padding-left: $s-smallest;}

.pg-padding-right-biggest{ padding-right : $s-biggest;}
.pg-padding-right-bigger{ padding-right : $s-bigger;}
.pg-padding-right-big{ padding-right : $s-big;}
.pg-padding-right{ padding-right : $s-regular;}
.pg-padding-right-small{ padding-right : $s-small;}
.pg-padding-right-smaller{ padding-right : $s-smaller;}
.pg-padding-right-smallest{ padding-right : $s-smallest;}
