/* RIVETS LOADER */
.pg-loader  *, .pg-loading *, [pg-loader] *, [pg-loading] *, [rv-loading] *{
    transition: none !important;
    opacity : 0 !important;
}

.pg-loader  , .pg-loading , [pg-loader] , [pg-loading] , [rv-loading]{
	visibility: hidden !important;
	position: relative !important;
    pointer-events: none !important;
    cursor: default !important;
    opacity: 1 !important;
    transition: none !important;

	// SPINNING CIRCLE
	&:before{
	    content: "";
	    display: inline-block;
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    margin-top: -20px;
	    margin-left: -20px;
	    top: 50%;
	    left: 50%;
	    z-index: 999999999;
	    border-radius: 50%;
	    border: 8px solid $c-main;
	    border-left-color: transparent;
	    animation: pg-rotate 0.8s infinite linear;
	    visibility: visible;
	}
	// BACKGROUND
	&:after {
	    //background: #3c3c44;
        content: attr(pg-loading);
	    display: block;
	    width: 100%;
	    bottom: 0px;
	    top: 0px;
	    position: absolute;
	    visibility: visible;
	    pointer-events: none;
	    z-index: 999999998;
	    text-align: center;
	    padding-top: 50%;
	    color: $c-main;
	    font-size: $f-small;
	    line-height: 30px;
	}
}

@keyframes pg-rotate {
	0% {
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	100% {
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}
