/* TEXT */
.pg-text-center{ text-align: center;}
.pg-text-left{ text-align: left;}
.pg-text-right{ text-align: right;}

.pg-text-biggest{ font-size: $f-biggest;}
.pg-text-bigger{ font-size: $f-bigger;}
.pg-text-big{ font-size: $f-big;}
.pg-text-regular{ font-size: $f-size;}
.pg-text-small{ font-size: $f-small;}
.pg-text-smaller{ font-size:$f-smaller;}
.pg-text-smallest{ font-size: $f-smallest;}

.pg-text-bolder{ font-weight: $f-bolder };
.pg-text-bold{ font-weight: $f-bold };
.pg-text-regular{ font-weight: $f-regular };
.pg-text-light{ font-weight: $f-light };
.pg-text-lighter{ font-weight: $f-lighter };

